body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Tagesschrift", system-ui;
    color: #333;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    background-image: url('../images/login_background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    /* filter: blur(1px);  */
    background-color: rgba(0, 0, 0, 0.2); 
    background-blend-mode: overlay;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.banner {
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 20px; 
    max-width: 100%;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); 
}

.banner h1 {
    font-size: 2.7rem; 
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 1;
}

.login-container {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 25px 80px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.05); 
    padding: 30px;
    width: 100%;
    max-width: 350px;
    min-height: 330px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    animation: fadeIn 0.8s ease-in-out;
}

.login-container h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.form-field {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    max-width: 300px; 
    margin: 0 auto 10px auto;
    margin-top: 0;
}

.form-control {
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    padding: 10px;
}

.form-control:focus {
    border-color: #5a7ded;
    box-shadow: 0 0 0 0.25rem rgba(90, 125, 237, 0.25);
}

.login-container .form-label {
    color: #333; 
    font-weight: 600;
    margin-bottom: 0;
    text-align: left; 
    width: 40%;
}

.btn-primary, .btn-primary:active, .btn-primary:focus { 
    width: 100%;
    padding: 12px;
    background: #50725a !important;
    border: none !important;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: background 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0 4px 10px rgba(80, 114, 90, 0.4); 
}

.btn-primary:hover {
    background: #7db78b !important; 
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(80, 114, 90, 0.5);
}

.btn-primary:active {
    transform: translateY(1px);
}

.form-label {
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
}

.login-container .signup-link {
    text-align: center;
    margin-top: 2px;
    font-size: 14px;
    color: #777;
}

.login-container .signup-link a {
    color: #7db78b; 
    text-decoration: none;
    font-weight: 600;
}

.login-container .signup-link a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}